<h2>This is the Welcome Page.</h2>

<p>
  <%= link_to "Wally's Page", wally_path %>
</p>

<ul>
  <% @cheeses.each do |cheese| %>
    <li><%= link_to cheese.name, cheese_path(cheese) %></li>
  <% end %>
</ul>